* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    font-size: 20px;
    box-shadow: 0px 6px 15px 0px rgb(234, 229, 229);
    font-weight: 600;
}

.Logo_name {
    font-size: 25px;
}

.nav-inner-container {
    margin-left: 480px;
}

.img {
    position: relative;
    left: 40px;
    height: 70px;
    width: 70px;
}

/* doctor registration */

.doc-registrastion {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    font-size: 23px;
    font-weight: 600;
    justify-content: space-evenly;
}

#register-img img {
    position: relative;
    bottom: 20px;
    height: 700px;
    width: 510px;
}

#register-doc-img img {
    position: relative;
    bottom: 20px;
    height: 650px;
    width: 500px;
}

#register-form {
    margin-right: 200px;
    width: 60rem;
    padding-left: 50px;
}

#name {
    position: relative;
    top: 45px;
    right: 50px;
    height: 40px;
}


#age {
    position: relative;
    top: 45px;
    right: 30px;
    height: 35px;
}

#birthdate {
    position: relative;
    top: 45px;
    right: 120px;
    height: 30px;
}

#emails {
    position: relative;
    top: 45px;
    right: 40px;
    height: 30px;
}

#passwords {
    position: relative;
    top: 45px;
    right: 80px;
    height: 30px;
}

#address {
    position: relative;
    top: 45px;
    right: 65px;
    height: 30px;
}

#phone {
    position: relative;
    top: 45px;
    right: 135px;
    height: 30px;
}

#city {
    position: relative;
    top: 45px;
    right: 20px;
    height: 30px;
}


.doc-gridy .form-group select,
.doc-gridy .form-group input {
    border-radius: 20px;
}

.form-check-input_1,
.form-check-input_2 {
    accent-color: green;
    width: 20px;
    height: 20px;
}

.form-check-input_2 {
    margin-left: 30px;
}

.selection-btn {
    margin-left: 180px;
}

.register-image {
    height: 44.9rem;
    width: 45rem;
}

.register-btn {
    position: relative;
    left: 100px;
    width: 400px;
    top: 10px;
    font-size: 20px;
    border-radius: 20px;
}

.register-btn:hover {
    background-color: white;
    color: black;
}

.register-div {
    box-shadow: 0px 0px 4px 3px rgb(234, 229, 229);
}


.doc-btn {
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    color: white;
    margin-bottom: 50px;
}

.doc-btn:hover {
    background-color: white;
    color: black;
}

.input {
    border-radius: 20px;
    padding: 8px;
    padding-left: 70px;
    font-size: 15px;
}


.input::placeholder {
    color: purple;
    font-size: 15px;
}

.doc-reg-btn {
    margin-top: 10px;
    height: 50px;
    width: 400px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 12px;
    margin-left: 240px;
    color: white;
    background-color: rgb(202, 58, 202);
    margin-bottom: 50px;
}

/* login */

.doc-log-gridy {
    margin-left: 70px;

}

.doc-log-gridy .form-group input {
    width: 400px;
}

.doc-log-gridy label {
    font-size: 20px;
    font-weight: 600;
}

.doc-log {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
}

#login-form {
    padding: 20px;
    width: 600px;
    margin-right: 100px;
    box-shadow: 0px 3px 10px 5px rgb(214, 211, 211);
}

#log-img {
    margin-left: 60px;
}

#log-img h3 {
    text-align: center;
    color: gray;
    letter-spacing: 10px;
}

#log-img h3 span {
    color: aqua;
    font-weight: bolder;
}

#doc-img {
    height: 500px;
}

#login-form p {
    text-align: center;
    color: gray;
}

.message {
    position: relative;
    bottom: 20px;
    color: gray;
    text-align: center;
}


/* patient-dashboard */
.patient-dashboard {
    margin-top: 100px;
    margin-left: 250px;
}

.patient-btn-div {
    position: relative;
    top: 20px;
    left: 280px;
}

.patient-btn {
    height: 50px;
    width: 200px;
    box-shadow: 0px 6px 4px 3px gray;
    background-color: rgb(203, 37, 37);
    font-size: 20px;
    color: white;
}

.header h2 {
    color: #007aa5;

}

.table-row td {

    font-weight: none;

}

.table-body {
    overflow: auto;
    height: 200px;
}


/* modal */

.body-modal {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px 30px;
}

.select {
    margin-left: 20px;
}

td,
th {
    font-size: 25px;
}

.action {
    font-size: 20px;
}

.action:hover {
    background-color: white;
    color: black;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(48, 68, 215);
}

#email {
    position: relative;
    height: 25px;
    top: 35px;
    left: 20px;
}

#password {
    position: relative;
    height: 25px;
    top: 35px;
    left: 20px;
}

#date-modal {
    position: relative;
    right: 20px;
    border: 1px solid gray;
    width: 170px;
    border-radius: 5px;
}

#date-modal:hover {
    outline: 1px solid skyblue;
}

.footer-modal button {
    position: relative;
    left: 85px;
}

.close-modal {
    width: 100px;
}

.doctor-modal option:hover {
    background-color: red;
}

.text {
    position: relative;
    top: 3px;
}

/* nav dashboard */

.link-value {
    margin-left: 66rem;
}


/* delete btn */

.delete-btn {
    background-color: #007aa5;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.delete-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.delete-btn img {
    height: 30px;
    margin-right: 10px;
}

.doc-log-gridy .form-group input {
    border-radius: 20px;
    padding: 10px;
    padding-left: 70px;
    font-size: 15px;
}

.doc-log-gridy .form-group input::placeholder {
    color: rgb(85, 85, 226);
}



/* sidebar */

#dashboard_name {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.sidebar {
    position: absolute;
    top: 89px;
    left: 0;
    background: #6CB4EE;
    height: 91%;
    width: 0;
    transition: all 0.5s ease;
}

.sidebar-setting {
    height: 95%;
}

.sidebar-write_appointment {
    height: 92%;
}

.sidebar.active {
    width: 250px;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content {
    display: none;
}

.sidebar.active .logo_content {
    display: inline-block;
}

#pop_up {
    position: absolute;
    left: 280px;
    top: 20px;
}

.sidebar ul {
    margin-top: 130px;
    list-style-type: none;
    display: none;
    opacity: 0;
}

.sidebar.active ul {
    display: inline-block;
    opacity: 1;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;
}

.icons {
    height: 30px;
    margin-right: 20px;
}


.user-info {
    font-size: 20px;
    padding: 6px;
}

.nav_list {
    margin-left: 20px;
    position: relative;
    bottom: 100px;
}

.nav_list li {
    font-weight: 600;
}

.nav_list li:hover {
    transform: scale(1.1);
}

/* antd data table */

table {
    table-layout: none; 
}

.patient-dashboard .ant-table {
    border: 0.5px solid rgb(138, 133, 133);
}

.patient-dashboard .ant-table-thead>tr>th {
    border: 0.5px solid rgb(138, 133, 133);
}

.patient-dashboard .ant-table-tbody>tr>td {
    border: 0.5px solid rgb(138, 133, 133);
}